<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Creator - Home</title>

    <!--Bootstrap link-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--Custom stylesheet link-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- Declare symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <!--Add category symbol-->
    <symbol id="add_category" viewBox="0 0 16 16">
        <!--Add symbol-->
        <symbol id="add" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1
             0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </symbol>
    </symbol>

    <!--View menu symbol-->
    <symbol id="view_menu" viewBox="0 0 16 16">
        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523
                 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8
                  1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5
                   0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79
                    1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5
                     0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </symbol>

    <!--Download menu symbol-->
    <symbol id="download_menu" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5
                 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5
                 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </symbol>
</svg>

<main>

    <!--Display container-->
    <div class="container px-4 py-5" id="actions">

        <!--Display header-->
        <h2 class="pb-2 border-bottom">Actions</h2>

        <!--Display actions-->
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <!--Add action-->
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center
                 justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#add"/>
                    </svg>
                </div>
                <div>
                    <h2>Add</h2>
                    <p>Add a new category or item to your menu.</p>
                    <a th:href="@{/category}" class="btn btn-primary">
                        Add category
                    </a>
                    <a th:href="@{/item}" class="btn btn-primary">
                        Add item
                    </a>
                </div>
            </div>

            <!--View menu action-->
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center
                 justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#view_menu"/>
                    </svg>
                </div>
                <div>
                    <h2>View menu</h2>
                    <p>View your current menu.</p>
                    <a th:href="@{/menu}" class="btn btn-primary">
                        Select action
                    </a>
                </div>
            </div>

            <!--Download menu action-->
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center
                 justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#download_menu"/>
                    </svg>
                </div>
                <div>
                    <h2>Download menu</h2>
                    <p>Download the JSON file of your current menu.</p>
                    <a th:href="@{/menu/download}" class="btn btn-primary">
                        Select action
                    </a>

                    <!--Display message after successfully downloading menu-->
                    <div class="alert alert-success" role="alert" th:if="${param.success}">
                        Menu downloaded successfully!
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
</body>
</html>